.sidebar-container{
    width: 10%;
}

.sidebar-container ul{
    list-style-type: none;
}

.sidebar-container ul li{
    text-align: center;
    background-color: darkred;
    border-bottom: 1px solid silver;
    margin-bottom: 10px;
}

.sidebar-container ul li a{
    color: silver;
    text-decoration: none;
    padding: 10px 0;
    display: block;
}

.sidebar-container ul li a:hover{
    color: darkred;
    background-color: silver;
}

.show-hide-categories-btn-container{
    text-align: right;
    margin-bottom: 20px;
    display: none;
}

.show-hide-categories-btn-container button{
    font-size: 25px;
    border-radius: 10px;
    outline: 0;
    border: 0;
    color: darkred;
    height: 40px;
    width: 40px;
}

.sidebar-container-categories-hide{
    display: none;
}

@media screen and (max-width: 1200px) {
    .sidebar-container{
        width: 100%;
    }
    .sidebar-container ul{
        display: flex;
        justify-content: space-around;
    }
    .sidebar-container ul li{
        flex-grow: 1;
        margin: 10px;
        margin-left: 0;
    }
}

@media screen and (max-width: 800px) {
    .show-hide-categories-btn-container{
        display: block;
    }
    .sidebar-container ul{
        position: absolute;
        width: 50%;
        flex-direction: column;
        top: 60px;
        right: 70px;
        display: none;
    }

    .sidebar-container ul li{
        margin: 0;
        opacity: 0.8;
    }

    .sidebar-container ul.show{
        display: flex;
    }
}

@media screen and (max-width: 400px) {
    .sidebar-container ul{
        width: 70%;
        margin: 0 auto;
    }

}
